body{
    background-color: black;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 16px;
    width: 300px;
}
.sidebar__navegation{
    background-color: rgb(13, 13, 13);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo{
    background-color: rgb(13, 13, 13);
    display: flex;
    border-radius: 8px;
    padding: 16px, 0, 0, 16px;
    
}

.logo img {
    width: 80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0, 20px, 10px, 20px;

}
.sidebar ul li{
    padding: 20px, 0px;

}

.sidebar nav ul li a{
    color: #b3b3b3;
    font-weight: 600px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}